{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}
{% block content %}
    <div class="row col-lg-12"><h1 class="page-header" style="font-variant:small-caps;">{% trans "All galleries" %}</h1></div>
    {% if object_list %}
    <div class="row">{% for gallery in object_list %}<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 columsize">
            <h2 class="gallerylist-title"><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
                <p class="muted"><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>
              {% for photo in gallery.sample %}
                  <a href="{{ gallery.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" width="200" height="150" class="thumbnail" alt="{{ photo.title }}"></a>
                        {% endfor %}</div>
                    {% endfor %}
    </div>
    {% else %}
        <div class="row col-lg-12">{% trans "No galleries were found" %}.</div>
    {% endif %}
    {% include "photologue/includes/paginator.html" %}
{% endblock %}
