{% extends "photologue/root.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ gallery.title }}{% endblock %}
<div class='row'>
{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    $('#lightgallery').lightGallery({thumbnail:true, mode: 'lg-fade', preload: 1});});
</script>
  <div class="col-xs-12">
    <h1 class="page-header cap">{{ gallery.title }}</h1>
    <p class="muted cap" >{% trans "Published" %} {{ gallery.date_added }}</p>
    {% if gallery.description %}<p class="cap">{{ gallery.description|safe }}</p>{% endif %}
	  <div class="demo-gallery">
      <ul id="lightgallery" class="list-unstyled row">
      {% for photo in gallery.public %}
      <li class="col-xs-6 col-sm-3 col-md-3 col-lg-2" data-responsive="{{ photo.get_thumbnail_url }}" data-src="{{ photo.image.url }}" data-sub-html="{{ photo.title }}">
			<a data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1" data-pinterest-text="vk it" data-facebook-share-url="facebook-share.html" data-twitter-share-url="twitter-share.html" data-googleplus-share-url="googleplus-share.html" data-pinterest-share-url="pinterest-share.html" data-vkontakte-share-url="vkontakte-share.html" href="">
				<img class="img-responsive" src="{{ photo.get_thumbnail_url }}" width="200" height="150" alt="{{ photo.title }}">
			</a>
			</li>
  	    {% endfor %}
      </ul>
    </div>
    <div><a href="{% url 'photologue:gallery-list' %}" class="btn btn-default">{% trans "View all galleries" %}</a></div></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="fb-comments" data-href="http://espresso-adaline.rhcloud.com{{ gallery.get_absolute_url }}" data-numposts="5" data-width="525"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
    </div>
  </div>
{% endblock %}
</div>
