{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
  <div class="cd-fixed-bg cd-bg-9">
    <h1>Кафе Espresso</h1>
  </div>
  <div class="cd-scrolling-bg cd-color-2">
    <div class="cd-container">
      <p>Cовременное заведение с высоким уровнем обслуживания, интересным дизайном и вкусной едой.
Здесь беспокояться об уровне сервиса, и о том впечатлении которое остаеться у каждого гостя.
Питательные завтраки и бизнес ланчи, блюда еворопейской кухни и конечно кофе, который здесь просто великолепен!
      </p>
    </div>
  </div>
  <div class="cd-fixed-bg cd-bg-2">
    <h2>Vine</h2>
  </div>
   <div class="cd-scrolling-bg cd-color-3">
    <div class="cd-container">
      <p>
        Бокал вина и блюдо нашей кухни не оставят равнодушными примерно 50% людей. За время сушествования мы зарекомендовали себя гостеприимством и професиональным подходом к работе.
      </p>
    </div>
  </div>
  <div class="cd-fixed-bg cd-bg-3">
    <h2>«Фуршет, банкет и кофе»</h2>
  </div>
  <div class="cd-scrolling-bg cd-color-1">
    <div class="cd-container">
      <p>
        Фуршет, банкет и кофе – отличная возможность провести время в праздной обстановке. Выездной корпоратив может стать незабываемым, если Вы воспользуетесь нашими услугами Выездной фуршет или выездной банкет – отличное времяприпровождение для всей компании, попавшей на корпоратив. Следует отметить, что фуршет от эспрессо удивит Вас искусностью поворов и разнообразием блюд. Выездной банкет, в свою очередь, удивит вас изобилием угощений и качеством обслуживания. Для Вас – услуги поваров, официантов, соммелье, а также разнообразные сервисы, которые внесут изюминку в ваш корпоратив. Мясо в кафе готовиться в мангале и в тандыре, что позволяет сохранить уникальный вкус жаренного костре.
        </p>
    </div>
  </div>
  <div class="cd-fixed-bg cd-bg-4">
    <h2>Espresso</h2>
  </div>
{% endblock %}
