{% load staticfiles %}
<!doctype html>
<html lang='ru'>
<head>
  <link rel="shortcut icon"
      type="image/png"
      href="https://stark-hamlet-41342.herokuapp.com/static/img/favico.png">
 <link rel="manifest" href="/static/manifest.json">
 <meta name="theme-color" content="#ffdab9"/>
 <meta http-equiv="Content-type" content="text/html; charset=utf-8">
 <meta name=viewport content="width=device-width, initial-scale=1">
 <meta name="author" content="Espresso cafe Kherson">
 <meta name="description" CONTENT="Кофейня Espresso, Кафе Espresso, Херсон, Филатова, Espresso Besaba, Оренда Банкетного зала, Корпоратив, Праздник, Ресторан зал, Кухня, Повар На выезд, cafe, Кофейня Эспрессо На Филатова, Кофейня Espresso На Филатова, Эспрессо Кофейня на Филатова">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if request.get_full_path == '/contact/' %}<title>Форма связи с администрацией: Espresso На Филатова, Херсон.</title>{% else %}
 <title>{% block head_title %}{{ template_title }}{% endblock %}</title>{% endif %}
{% include 'head_css.html' %}
</head>
<body>
 {% include 'navbar.html' %}
 <div class='container-fluid'>
 <main  class="cd-main-content">
  {% block jumbotron %}
  {% endblock %}
  {% block content %}
  {% endblock content %}
  {% block content-list %}
  {% endblock content-list %}
  {% if request.get_full_path == '/' or request.get_full_path == '/contact/' %}
 {% block footer %}
 {% endblock footer %}
 {% endif %}
 </main>
</div>
{% include 'js.html' %}
</body>
</html>
