{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='container'>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
{% if title %}
<title><h1>{{ title }}</h1></title>
{% endif %}
<form method='POST' action='#'>{% csrf_token %}
{{ form|crispy }}
<input class='btn btn-default submit' type='submit' value='Submit' />
</form>
</div></div></div>
{% endblock %}
