{% load staticfiles %}
<!DOCTYPE html>
<html lang="uk-UA">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Espresso cafe Kherson">
    <meta name="description" CONTENT="Кофейня Espresso, Кафе Espresso, Херсон, Филатова, Espresso Besaba, Аренда Банкетного зала, Корпоратив, Праздник, Ресторан зал, Кухня, Повар На выезд, cafe, Кофейня Эспрессо На Филатова, Кофейня Espresso На Филатова, Эспрессо Кофейня на Филатова">

       <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{% block head_title %}Espresso | {% if gallery.title %}{{ gallery.title }}{% else %}Gallery {% endif %}{% endblock %}</title>
    {% include 'gallery_head_css.html' %}
    {% include 'gallery_js.html' %}
    {% if object_list %}
    <style type="text/css">
        body {background: linear-gradient(to bottom, hotpink -50%, pink 50%);}
        .col-xs-12.col-sm-6.col-md-4.col-lg-4.columsize {height: 306px;
        font-variant: small-caps;
        justify-content: center;
        text-align: center;}
        p.muted h2 {
          font-variant: small-caps;
          text-align: center;
        }
        img.thumbnail {
          display: block;
        margin-left: auto;
        margin-right: auto
        }
        .gallerylist-title {
          min-height: 66px;
          max-height: 66px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
    </style>
    {% endif %}
    {% if gallery.public %}
    <style type="text/css">
        body {background: linear-gradient(to right, hotpink -50%, pink 50%);}
        p.muted p h1 {
          font-variant: small-caps;
        }
        .col-xs-12 {
          display: block;
        }
        .row {
          display: block;
        }
    </style>
    {% endif %}
  </head>
  <body>
<div id="fb-root"></div>
    {% include 'navbar.html' %}
	<div class="container">
	{% block jumbotron %}
	{% endblock %}
    {% block content %}
    {% include 'post_list.html' %}
	  {% endblock %}
		{% block footer %}
		{% endblock %}
	</div>
  </body>
</html>
