{% load staticfiles %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<style type="text/css">
	nav ul li a {
		font-size: 14px !important;
		font-family: 'Comfortaa', cursive !important;
	}
	.navbar-brand {
		font-size: 30px !important;
		font-family: serif !important;
	}
	.cap {
		font-size: 20px !important;
		font-variant: small-caps;
		font-family: 'Comfortaa', cursive !important;
	}
	.muted.cap {
		font-size: 20px !important;
		font-variant: small-caps;
		font-family: 'Comfortaa', cursive !important;
	}
	.page-header.cap {
		font-size: 30px !important;
		font-variant: small-caps;
		font-family: 'Comfortaa', cursive !important;
	}
	.container-fluid {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.navbar {
		margin-bottom: auto !important;
	}
	</style>

	{% if gallery.public %}
<style type="text/css">
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
min-width: 100% !important;
width: 100% !important;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
}
#vkcom {
margin-top: 5px !important;
}
#vk_comments, #vk_comments iframe[style] {
margin-top: 10px;
margin-left: 5px;
margin-right: 5px;
width: 100% !important;
}
</style>
<link href="{% static 'css/lightgallery.css' %}" rel="stylesheet">
{% endif %}
