{% load staticfiles %}


    {% if gallery.public %}
        <script src="{% static 'js/alljs.js' %}"></script>
        <script src="{% static 'js/lg/lightgallery.min.js' %}"></script>
        <script src="{% static 'js/lg/lg-thumbnail.min.js' %}"></script>
        <script src="{% static 'js/lg/lg-autoplay.min.js' %}" defer></script>
        <script src="{% static 'js/lg/jquery.mousewheel.min.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js" defer></script>
        <script src="{% static 'js/lg/lg-hash.min.js' %}" defer></script>
        <script src="{% static 'js/lg/lg-share.js' %}" defer></script>
        <script src="{% static 'js/lg/lg-zoom.min.js' %}" defer></script>
        <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '242968816086061',
          xfbml      : true,
          version    : 'v2.6'
        });
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.6&appId=242968816086061";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
{% endif %}
