{% load staticfiles %}
	{% if navbar == "home"%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/allcss.css' %}" media="all">
	{% endif %}
	{% if navbar == "about" or navbar == "service" %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/aboutService.css' %}" media="all">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Comfortaa' media="all">
	{% endif %}
	{% if request.get_full_path == '/contact/' or request.get_full_path == '/contact/sent/' %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}" media="all">
 	{% endif %}
	{% if exception %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/aboutService.css' %}" media="all">
	{% endif %}
