{% extends 'base.html' %}{% load crispy_forms_tags %}{% load staticfiles %}
	{% block jumbotron %}
	<div class="preloader"></div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div id="firstItem" class="item active">
				<img id='zero' class="first-slide" src="{% static 'img/1.jpg' %}" height="835" width="1920" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h2 class="cap">Кофейня На Филатова</h2>
						<p class="cap">Если у вас намечается мероприятие, Вы наверняка озадачены вопросом связанным с тем, чем же угощать гостей. В кафе Espresso вы можете заказать услуги поваров на выезд.</p>
						<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img id='first' class="second-slide" src="{% static 'img/img_trans.gif' %}" height="835" width="1920" alt="Second slide">
				<div class="container">
					<div class="carousel-caption">
						<h2>Повар На Выезд</h2>
						<p>Пригласив выездного повара на мероприятие от «кафе ESPRESSO», вы можете рассчитывать на приготовление блюд отличного качества, различных кухонь всего мира.</p>
						<p><a class="btn btn-lg btn-info" href="#" role="button">Learn more</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img id='third' class="third-slide" src="{% static 'img/img_trans.gif' %}" height="835" width="1920" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h2>Повар На Выезд</h2>
						<p>Пригласив выездного повара на мероприятие от «кафе ESPRESSO», вы можете рассчитывать на приготовление блюд отличного качества, различных кухонь всего мира.</p>
					  <p><a class="btn btn-lg btn-warning" href="" role="button">Browse gallery</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<img id='seventh' class="fourth-slide" src="{% static 'img/img_trans.gif' %}" height="835" width="1920" alt="fourth slide">
				<div class="container">
					<div class="carousel-caption">
						<h2>Повар На Выезд</h2>
						<p>Пригласив выездного повара на мероприятие от «кафе ESPRESSO», вы можете рассчитывать на приготовление блюд отличного качества, различных кухонь всего мира.</p>
					  <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
					</div>
				</div>
			</div>
		</div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
	<div id='coco' class="row">
		<div class="col-md-1 col-xs-1 col-lg-3">
					</div>
				<div class="row col-xs-10 col-md-10 col-lg-6 coc">
				<div id="fr"><p class='droid'>{{ full }}</p><p class='droid2'>{{ full.author }}</p></div>
				</div>
	</div>
	{% endblock %}
	{% block content %}
<div id='content' class='row'>
    <div class="container marketing">
			<h1 class="cap cent">Кофейня Espresso На Филатова</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
			<div class="thumbnail eaf3fa">
			  <img class="img-rounded social-img1" src="{% static 'img/img_trans.gif' %}" alt="Банкетный зал">
			  <div class="caption">
				<h3 class="cap">Банкетный зал</h3>
				<p class="cap">Важное событие принесет ожидаемый результат и запомнится всем только тогда, когда все будет организованно безупречно! </p>
				 <button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#myModal">Подробнее</button>
			  </div>
			</div>
		  </div>
			<div class="col-xs-12 col-sm-4">
			<div class="thumbnail f39f49">
			  <img class="img-circle social-img2" src="{% static 'img/img_trans.gif' %}" alt="Повар на выезд">
			  <div class="caption">
				<h3 class="cap">«Повар на выезд»</h3>
				   <p class="cap">Если у вас намечается мероприятие, Вы наверняка озадачены вопросом связанным с тем, чем же угощать гостей. Здесь вы можете заказать услуги поваров на выезд.</p>
				<button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#myModal1">Подробнее</button>
			  </div>
			</div>
		  </div>
			<div class="col-xs-12 col-sm-4">
			<div class="thumbnail b2ec5d">
			  <img class="img-rounded social-img3" src="{% static 'img/img_trans.gif' %}" alt="Автомойка">
			  <div class="caption">
				<h3 class="cap">Автомойка</h3>
				   <p class="cap">Наши специалисты тщательно следят за качеством предоставляемых услуг. Нам важно чтоб клиент был доволен чистотой автомобиля и вернулся к нам снова.</p>
				<button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#myModal2">Подробнее</button>
			  </div>
			</div>
		  </div>
      </div>
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header eaf3fa">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cap" id="purchaseLabel">Аренда Банкетного Зала</h4>
                </div>
                <div class="modal-body first">
				<img id='banket' class="img-responsive" src="{% static 'img/img_trans.gif' %}" width='550' height='611' alt="Espresso" />
                     <p class="cap">Так же В Кафе Espresso обожают отмечать весело и непринужденно! Если вы хотите устроить незабываемое мероприятие, то смело выбирайте Кафе Espresso, ведь Espresso пропитано атмосферой тепла и веселья. Для гостей очень важно радовать своих близких, поэтому персонал будет бережно следить за Вашим настроением и постарается сделать Ваш банкет незабываемым. Здесь найдется место для мероприятия любого формата, будь то день рождения, фуршет, свадьба, корпоратив или детский праздник. Большая площадь кафе позволяет организовать банкет на разное количество гостей, а летняя площадка будет хорошим дополнением в теплое летнее время.
Большой и малый банкетный зал, уютные для банкета, расскажут Вам нашу историю!1!</p>
                </div>
                <div class="modal-footer eaf3fa">
											<div class="alert alert-info message" style="opacity: 0">Дякую. Адміністратор вам зателефонує.</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
			<div class="modal-dialog forma">
					<div class="modal-content">
							<div class="modal-header eaf3fa">
									<h4 class="modal-title cap">Заказать Банкетный зал.</h4>
							</div>
							<div class="modal-body first">
								<form method="post">{% csrf_token %}
									{{ form|crispy }}
									<input type="submit" class="btn btn-success btn-large" value="Submit">
								</form>
							</div>
					</div>
			</div>
  </div>
	 <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header eaf3fa">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cap" id="purchaseLabel2">Услуга «Повар На Выезд»</h4>
                </div>
                <div class="modal-body first">
				<img id='povar' class="img-responsive" src="{% static 'img/img_trans.gif' %}" width="400" height="618" alt="Espresso" />
                      <p class="cap">Если у вас намечается мероприятие, Вы наверняка озадачены вопросом чем же угощать гостей? У нас вы можете заказать услугу повар на выезд.
Воспользовавшись этим удобством, Вы можете не переживать насчет приготовления блюд для своего мероприятия.
Профессиональный повар поможет подобрать отличное меню подходящее конкретно для Вашего мероприятия, ведь очень важно сделать блюда не слишком жирными, но сытными, подать все в определенном порядке, а сама пища должна быть приготовлена из натуральных и свежих продуктов, которые повар может закупить сам.
Пригласив выездного повара на мероприятие от «кафе ESPRESSO», вы можете рассчитывать на приготовление блюд отличного качества, различных кухонь всего мира.</p>
                </div>
                <div class="modal-footer eaf3fa">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header eaf3fa">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cap" id="purchaseLabel3">Автомойка</h4>
                </div>
                <div class="modal-body first">
			<img id='avto' class="img-responsive" src="{% static 'img/img_trans.gif' %}" width="400" height="251" alt="Espresso" />
                    <p class="cap">Автомойка «Автодоктор» – это выбор требовательных водителей, идеальная чистота авто в кратчайший срок за умеренные деньги.
Всего немного времени и ваш автомобиль сияет чистотой! Такое возможно благодаря высокотехнологическому немецкому оборудованию. Наши специалисты тщательно следят за качеством предоставляемых услуг. Нам важно чтоб клиент был доволен чистотой автомобиля и вернулся к нам снова. </p>
                </div>
                <div class="modal-footer eaf3fa">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
	</div>
    </div>
</div>
{% endblock %}
{% block footer %}
 <footer>
    <div id="footer">
	<div class="row">
		<div class="col-lg-5 col-md-8 col-sm-8 leftfoot">
		<p class="cap face">Кофейня Espresso находится по адресу: Вул. Філатова, 29, Херсон, Україна</p>
		<div class="face"><div id="inner"><a href="https://www.facebook.com/Мувімен-282425681911898/" target="_blank" rel="noopener"><img class="social-f" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="facebook social button" /></a>
		<a href="https://twitter.com/felya9" target="_blank" rel="noopener"><img class="social-t" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="twitter social button" /></a>
		<a href="https://plus.google.com/106764483029110490568" target="_blank" rel="noopener"><img class="social-g" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="google+ social button" /></a>
		<a href="https://vk.com/club82593077" target="_blank" rel="noopener"><img class="social-v" src="{% static 'img/img_trans.gif' %}" width='74' height='74'  alt="vk social button" /></a>
		<a href="https://youtube.com/" target="_blank" rel="noopener"><img class="social-y" src="{% static 'img/img_trans.gif' %}" width='74' height='74'  alt="vk social button" /></a></div>
		</div>
	</div>
			<div class="col-lg-5 col-md-1 col-sm-1"><div class="google-maps"></div></div>
			<div class="col-lg-2 col-md-3 col-sm-3"><p class="pull-right" style="font-variant:small-caps;font-weight:23;margin:5px;"><a href="#">Back to top</a></p></div>
    </div>
	</div>
</footer>
{% endblock %}
