{% load staticfiles %}
    <script src="{% static 'js/alljs.js' %}" defer></script>
  {% if navbar == "about" or navbar == "service" %}
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/modernizr.js' %}" defer></script>
  {% endif %}
