
  {% if messages %}

<center><div class='messages'>
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert"><li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-color:lightsalmon;font-weight:bold;font-size:24;">{{ message }}</li></div>
    {% endfor %}
</ul>
</div></center>
{% endif %}
