
<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Espresso</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if navbar == 'home' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
            <li class="{% if navbar == 'about' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
            <li class="{% if navbar == 'service' %}active{% endif %}"><a href="{% url 'service' %}">Service</a></li>
            <li class="{% if object_list %}active{% endif %}"><a href="/photologue/gallerylist/">Gallery</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/contact/">Contact Us</a></li>
			{% if request.user.is_authenticated %}
            <li class="active"><a href="">{{ request.user }} | Log Out<span class="sr-only">(current)</span></a></li>
			{% else %}

            <li><a href="">Log in</a></li>
			<li><a href="">Register</a></li>
			{% endif %}
          </ul>
        </div>
      </div>
    </nav>
