{% load staticfiles %}
<!doctype html>
<html>
<head>
  <link rel="shortcut icon"
      type="image/png"
      href="https://espresso-adaline.rhcloud.com/static/img/favico.png">
 <meta http-equiv="Content-type" content="text/html; charset=utf-8">
 <meta name=viewport content="width=device-width, initial-scale=1">
 <meta name="author" content="Espresso cafe Kherson">
 <meta name="description" CONTENT="Кофейня Espresso, Кафе Espresso, Херсон, Филатова, Espresso Besaba, Оренда Банкетного зала, Корпоратив, Праздник, Ресторан зал, Кухня, Повар На выезд, cafe, Кофейня Эспрессо На Филатова, Кофейня Espresso На Филатова, Эспрессо Кофейня на Филатова">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if request.get_full_path == '/contact/' %}
  <title>Форма связи с администрацией: Espresso На Филатова, Херсон.</title>
  {% else %}
 <title>{% block head_title %}{{ template_title }}{% endblock %}</title>
 {% endif %}
 {% include 'head_css.html' %}
 {% if navbar == "home" %}

 <style type="text/css">
/*navbar styles */
 nav ul li a {
   font-size: 14px !important;
   font-family: 'Comfortaa', cursive !important;
 }
 .navbar-brand {
   font-size: 30px !important;
   font-family: serif !important;
 }
 .container-fluid {
   padding-right: 0 !important;
   padding-left: 0 !important;
 }
 .navbar {
   margin-bottom: auto !important;
 }
 .row {
   margin-right: 0 !important;
   margin-left: 0 !important;
 }
/*navbar styles */

html {
  max-width: 100% !important;
  padding-right: 0 !important;
  #padding-top: 51px;
  overflow-x: hidden;
  overflow-y: scroll;
}
html, body {
       height: 100%;
       margin: 0;
       padding: 0;
}
.carousel {
  background-color: #ffebcd;
}
.item.active > img {
  min-height: initial;
  max-height: initial;
}
p {
  opacity: 1 !important;
}
.cap.cent {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 15px auto;
  opacity: .7;
  text-shadow: 5px 5px 2px peachpuff, 0 0 .5em peachpuff;
}
.cap {
  font-variant: small-caps;
  text-align: center;
}
.modal-title.cap {
  font-variant: small-caps;
  text-align: center;
}
.modal-open {
  padding-right: 0 !important;
  overflow: visible !important;
}
.container-navbar {
  padding-bottom: 0;
  height: 50px;
  margin-bottom: 1px;
}
#cococo {
  opacity: 0.3;
}
p.droid {
  font-size: 36px;
  font-size: 2.7em;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
p.droid2 {
  font-size: 18px;
  font-size: 1.3em;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
#coco {
  background: linear-gradient(to right, yellowgreen 0%, gold 250%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  min-height: 189px;
  position: relative;
}
.row.col-xs-10.col-md-10.col-lg-6.coc {
  text-align: right;
  padding: 0 20px;
  margin: 30px 20px 20px 20px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
#fr {
  margin-left: auto !important;
}
.btn.btn-success.btn-large {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
}
#content {
  background: peachpuff linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .4) 50%) center center/2em;
  padding-top: 5em;
  padding-bottom: 5em;
}
.modal-header.eaf3fa {
  background: linear-gradient(to right, NavajoWhite -50%, BlanchedAlmond 50%);
  opacity: 0.8;
  margin: 5px;
}
.modal-footer.eaf3fa {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  background: linear-gradient(to right, NavajoWhite -50%, BlanchedAlmond 50%);
  opacity: 0.8;
  margin: 5px;
}
.thumbnail.eaf3fa {
  background: linear-gradient(to right, NavajoWhite -50%, BlanchedAlmond 50%);
  opacity: 0.8;
  margin: 5px;
}
.thumbnail.f39f49 {
  background: linear-gradient(to right, BlanchedAlmond -50%, BlanchedAlmond 150%);
  opacity: 0.8;
  margin: 5px;
}
.thumbnail.b2ec5d {
  background: linear-gradient(to left, NavajoWhite -50%, BlanchedAlmond 50%);
  opacity: 0.8;
  margin: 5px;
}
.google-maps {
  position: relative;
  padding-bottom: 55%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 5px;
}
#footer {
  background-color: #0f1b20;
  padding: 50px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);}
.modal-body.first {
  background: peachpuff linear-gradient(180deg, rgba(255, 255, 255, .4) 50%, rgba(156, 217, 107, 0) 50%) center center / 23em;
  justify-content: center;
}
.modal-body.first > img {
  margin: 0 auto;
  justify-content: center;
}
.modal-body.first > p {
  margin: 1em;
  justify-content: center;
}
.col-lg-4.leftfoot {
  margin: 5em auto;
  overflow: hidden;
}
.face {
  margin: 4em 25px 4em 25px;
  justify-content: center;
}
.cap.face {
    margin: 4em;
    color: #FFFFFF;
    justify-content: center;
}
p.pull-right {
  margin: 2em 5px;
}
#purchaseLabel {
  align-items: center;
}
#purchaseLabel2 {
  align-items: center;
}
#purchaseLabel3 {
  align-items: center;
}
#inner {
  display: table;
  margin: 0 auto;
}
.carousel-inner.item {
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
}
.carousel-inner.item.active {
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
}
.carousel-inner.item img
{
transform-style: flat !important;
-webkit-transform-style: flat !important;
-moz-transform-style: flat !important;
}
/* line 104, social/*.png */
.social-sprite, .social-f, .social-g, .social-img1, .social-img2, .social-img3, .social-t, .social-v, .social-y {
  background-image: url('/static/img/social-sdd73398947.png');
  background-repeat: no-repeat;
}
.social-f {
  background-position: 0 -74px;
}
.social-g {
  background-position: -74px -74px;
}
.social-img1 {
  background-position: 0 -343px;
  height: 200px !important;
  max-height: 200px;
  width: 242px;
}
.social-img2 {
  background-position: 0 -543px;
  height: 200px !important;
  max-height: 200px;
  width: 242px;
}
.social-img3 {
  background-position: 0 -148px;
  height: 195px !important;
  max-height: 195px;
  width: 242px;
}
.social-t {
  background-position: 0 0;
}
.social-v {
  background-position: -148px -74px;
}
.social-y {
  background-position: -74px 0;
}

:not(.btn) .btnform {
  position: static;
  transform: translate(0, 0);
}
.alert-info {
  width: 75%;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
}
 </style>
 {% elif request.get_full_path == '/contact/' %}
 <style type="text/css">
 /*navbar styles */
  nav ul li a {
    font-size: 14px !important;
    font-family: 'Comfortaa', cursive !important;
  }
  .navbar-brand {
    font-size: 30px !important;
    font-family: serif !important;
  }
  .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .navbar {
    margin-bottom: auto !important;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
 /*navbar styles */
 html {
   background: linear-gradient(to right, NavajoWhite -50%, BlanchedAlmond 50%) !important;
 }
 .col-xs-8.col-xs-offset-2.op {
   background-color: deepskyblue;
   opacity: .5;
 }
 #cont {
   background: linear-gradient(to right, yellowgreen 0%, deepskyblue 250%) !important;
 }
 .container-fluid {
   min-width: 100%;
   min-height: 100%;
   max-width: 100%;
   max-height: 100%;
   background: linear-gradient(to right, yellowgreen 0%, deepskyblue 250%) !important;
 }
 .google-maps {
   position: relative;
   padding-bottom: 65%; // This is the aspect ratio
   height: 0;
   overflow: hidden;
 }
 .google-maps iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
   margin: 5px;
 }
 #footer {
   min-width: 100%;
   background-color: #0f1b20;
   padding: 50px;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
   margin-top: 25px !important;
 }
 .col-lg-4.leftfoot {
   margin: 5em auto;
   overflow: hidden;
 }
 .face {
   margin: 4em;
   justify-content: center;
 }
 .cap.face {
     margin: 4em;
     color: #FFFFFF;
     justify-content: center;
 }
 p.pull-right {
   margin: 2em 5px;
 }
 #inner {
   display: table;
   margin: 0 auto;
 }
 .cap {
   font-variant: small-caps;
   text-align: center;
 }
 .social-sprite, .social-f, .social-g, .social-img1, .social-img2, .social-img3, .social-t, .social-v, .social-y {
   background-image: url('/static/img/social-sdd73398947.png');
   background-repeat: no-repeat;
 }
 .social-f {
   background-position: 0 -74px;
 }
 .social-g {
   background-position: -74px -74px;
 }
 .social-img1 {
   background-position: 0 -343px;
   height: 200px !important;
   max-height: 200px;
   width: 242px;
 }
 .social-img2 {
   background-position: 0 -543px;
   height: 200px !important;
   max-height: 200px;
   width: 242px;
 }
 .social-img3 {
   background-position: 0 -148px;
   height: 195px !important;
   max-height: 195px;
   width: 242px;
 }
 .social-t {
   background-position: 0 0;
 }
 .social-v {
   background-position: -148px -74px;
 }
 .social-y {
   background-position: -74px 0;
 }
 </style>
{% endif %}

</head>
<body>


 {% include 'navbar.html' %}
 <main  class="cd-main-content">
 <div class='container-fluid'>
  {% block jumbotron %}
  {% endblock %}
  {% block content %}
  {% endblock content %}
  {% block content-list %}
  {% endblock content-list %}
  {% block footer %}
  {% endblock footer %}
 </div>
</main>
{% include 'js.html' %}
{% if navbar == 'home' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.min.css" type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" defer></script>
<script type="text/javascript">
window.addEventListener('DOMContentLoaded', function() {
      (function($) {
    $(document).ready(function() {
      (function () {
        document.getElementById('zero').src = "{% static 'img/0.jpg' %}";
        document.getElementById('first').src = "{% static 'img/1.jpg' %}";
        document.getElementById('third').src = "{% static 'img/3.jpg' %}";
        document.getElementById('seventh').src = "{% static 'img/7.jpg' %}";
        document.getElementById('banket').src = "{% static 'img/banket.jpg' %}";
        document.getElementById('povar').src = "{% static 'img/32n7a1Z-DrE.jpg' %}";
        document.getElementById('avto').src = "{% static 'img/50b23d_32f51fb855fa918c94c9e09eb1128188.jpg' %}";
      })();

    $("div.face > #inner > a > img").hover(function() {
      $(this).stop().animate({'opacity': 0.5},500);
    },function(){
        $(this).stop().animate({"opacity": 1},500);
      });

    $('input').prop('required',true);

		$('.datepicker').datetimepicker({
			format: 'm/d/Y H:i'
		});
      //console.log(document.getElementsByName('csrfmiddlewaretoken')[0].value);
    $("form").submit(function(e) {
      e.preventDefault();
      var $form = $(e.target);
      //console.log($form);
      $.ajax({
        type: 'POST',
        headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
        data: $form.serialize(),
        success: $('.message').fadeTo('slow', 1).fadeOut(8000, 0),
      }).done(function(){
        console.log('done');
      }).fail(function() {
        console.log('fail');
      });
      $(".modal-dialog.forma").hide('slow');
      return false
     // of course you can do something more fancy with your respone
      });
    });
    })(jQuery);
        });
</script>
{% endif %}
</body>
</html>
