{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

		<div class="cd-fixed-bg cd-bg-7">
			<h1>«Повар на выезд»</h1>
		</div>
		<div class="cd-scrolling-bg cd-color-5 cd-scrolling-bgg">
			<div class="cd-container">
				<p style="font-size:14pt">
				Свинина и говядина на гриле — замечательное блюдо из мяса, которое может стать хорошей альтернативой для традиционного шашлыка. А учитывая, что не за горами разные праздники, мясо на гриле станет отличным дополнением к отдыху на природе с семьей или друзьями.
Наши блюда на гриле, позволит вам попробывать не только вкусное, но и необычайно сочное мясо, с красивым колером. Кроме того вы узнаете несколько секретов в приготовлении на гриле, благодаря которым ваши друзья и знакомые точно попросят у вас рецепт!
				</p>
			</div>
		</div>
		<div class="cd-fixed-bg cd-bg-1">
		</div>
		<div class="cd-scrolling-bg cd-color-6 cd-scrolling-bgg">
			<div class="cd-container">
				<p>В кафе мясо готовиться в мангале и в тандыре, что позволяет сохранить уникальный вкус жаренного костре.
					</p>
			</div>
		</div>
		<div class="cd-fixed-bg cd-bg-6">
		</div>
		<div class="cd-scrolling-bg cd-color-4 cd-scrolling-bgg">
			<div class="cd-container">
				<p style="font-family: Comfortaa, cursive; font-size:24pt; font-style:italic">Большой Выбор Тортов
				</p>
			</div>
		</div>
		<div class="cd-fixed-bg cd-bg-8">
			<h2>«Espresso»</h2>
		</div>

{% endblock %}
