<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" id="vkcom">
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 5, width: "525px", attach: "*"});
</script>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
<div class="fb-comments" data-href="http://espresso-adaline.rhcloud.com{{ gallery.get_absolute_url }}" data-numposts="5" data-width="525"></div>
</div>
