{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div id="cont">
 <div class='container'>
  <h1 class='cap'>Contact Form</h1>
  <p class='cap'>To send us a message fill out the below form.</p>
  <form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-large" value="Submit">
  </form>
</div>
</div>
{% endblock content %}
{% block footer %}
<footer>
   <div id="footer">
 <div class="row">
   <div class="col-lg-5 col-md-7 leftfoot">
   <p class="cap face">Кофейня Espresso находится по адресу: Вул. Філатова, 29, Херсон, Україна</p>
   <div class="face"><div id="inner"><a href="https://www.facebook.com/Мувімен-282425681911898/" target="_blank"><img class="social-f" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="facebook social button" /></a>
   <a href="https://twitter.com/felya9" target="_blank"><img class="social-t" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="twitter social button" /></a>
   <a href="https://plus.google.com/106764483029110490568" target="_blank"><img class="social-g" src="{% static 'img/img_trans.gif' %}" width='74' height='74' alt="google+ social button" /></a>
   <a href="https://vk.com/club82593077" target="_blank"><img class="social-v" src="{% static 'img/img_trans.gif' %}" width='74' height='74'  alt="vk social button" /></a>
   <a href="https://youtube.com/" target="_blank"><img class="social-y" src="{% static 'img/img_trans.gif' %}" width='74' height='74'  alt="vk social button" /></a></div>
   <script type="text/javascript">
   window.addEventListener('load', function() {
         (function($) {
       $("iframe#ifr").attr('src', 'https://www.google.com/maps/embed/v1/place?key=AIzaSyDxTxlFqZHD19LGMFn2-Kad55FC7yZxXDI%20&q=Eiffel+Tower,Paris+France');
       $("div.face > #inner > a > img").hover(function() {
         $(this).stop().animate({'opacity': 0.5},500);
       },function(){
           $(this).stop().animate({"opacity": 1},500);
         });
     })(jQuery);
         });
   </script></div>
 </div>
     <div class="col-lg-5 col-md-5"><div class="google-maps"><iframe id="ifr" src="{% static 'img/img_trans.gif' %}" width="700" height="300"></iframe></div></div>
     <div class="col-lg-2"><p class="pull-right" style="font-variant:small-caps;font-weight:23;margin:5px;"><a href="#">Back to top</a></p></div>
   </div>
 </div>
</footer>
{% endblock %}
