{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content-list %}
<div class='row'>
<div class='col-sm-3'>
</div>
<div class='col-sm-6'>
  <h1>Write a Review</h1>
<form method='POST' action="" enctype="multipart/form-data"> {% csrf_token %}
{{ form|crispy }}
<input class='btn btn-default' type='submit' value='create post'>
<form>
</br>

</div>
<div class='col-sm-3'>
</div>
</div>
<div class='row'>
<div class='col-md-4'>
</div>
<div class='col-md-4'>
  <table class="table table-striped">
    <caption>All Reviews</caption>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Review</th>
    </tr>
  {% for feed in full %}
    <tr>
      <td>{{feed.id}}</td>
      <td>{{feed.author}}</td>
      <td>{{feed.feed}}</td>
    <tr>
  {% endfor %}
  </table>
</div>
<div class='col-md-4'>

</div>
</div>
{% endblock content-list %}
